<h1>Demo App</h1>

<p>Welcome to the ruby on rails MX Processor Tokens demo.  Using this app will give you a general idea of what it takes to generate an Authorization code.</p>

<p>The first step is to create a user, click the link below to create and view your MX users</p>

<a href="/users" id="get-started">Get Started</a>

<script>
    document.getElementById('get-started').addEventListener('click', () => {
        console.log("Get Started Clicked")
    })
</script>