<h1>Demo App</h1>

<p>Welcome to the MX Processor Tokens demo.  This app will take you through the flow of creating an authorization code, which is the first step in providing payments functionality to your users.</p>

<h2>Overview</h2>

<ol>
    <li>Create a user via the MX API</li>
    <li>Connect the user to an institution, like a bank, using the connect widget</li>
    <li>Verify the new member's accounts using the connect widget</li>
    <li>Generate an authorization code for a single verified account</li>
    <li>(What's next?) Share the authorization code with one of our partners to allow them access to that account's information.</li>
</ol>

<h2>Key Takeaways</h2>

<ul>
    <li>How to generate an authorization code</li>
    <li>Familiarity with some MX API endpoints</li>
    <li>See a working example of using the Widget Loader</li>
    <li>How to verify a user's accounts</li>
</ul>

<p>The first step is to create a user, click the link below to begin</p>

<a href="/users" id="get-started">Get Started</a>

<script>
    document.getElementById('get-started').addEventListener('click', () => {
        console.log("Get Started Clicked")
    })
</script>