<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>MX GUID</th>
    </tr>
  </thead>

  <tbody>
    <% accounts.each do |account| %>
      <tr>
        <td><%= account.name %></td>
        <td><%= account.guid %></td>
      </tr>
    <% end %>
  </tbody>
</table>
