<script src="https://atrium.mx.com/connect.js"></script>

<div id="connect-widget"></div>

<script>
    var mxConnect = new window.MXConnect({
    id: "connect-widget",
    iframeTitle: "Connect",
    /**
    * Callback that for handling all events within Connect.
    * Only called in  ui_message_version 4 or higher.
    *
    * The events called here are the same events that come through post
    * messages.
    */
    onEvent: function (type, payload) {
        console.log("onEvent", type, payload);
    },
    config: {
        ui_message_version: 4
    },
    targetOrigin: "*",
    })
    
    function loadConnectWidget(mxConnectObject, url) {
        mxConnectObject.load(url)
    }

    function createUser(configs) {
        // ... call ruby api
    }

    function fetchUsers(configs) {
        // ... call ruby api
    }

    function fetchConnectURL(configs) {
        // ... call ruby api
    }

    function fetchVerifiedAccounts(configs) {
        // ... call ruby api
    }

    function fetchAuthorizationCode(configs) {
        // ... call ruby api, or use fetch
    }

    // loadConnectWidget(mxConnect, <%= @widget_url %>)
    mxConnect.load("<%= @widget_url %>")
</script>
