<h1>Demo App</h1>
<p>Welcome to the MX Rails demo</p>

<button id="log-in">Log In</button>
<a href="/register" id="register">Sign Up</a>

<script>
    document.getElementById('register').addEventListener('click', () => {
        console.log("Sign Up")
    })

    document.getElementById('log-in').addEventListener('click', () => {
        console.log("Log In")
    })
</script>