<h1>Demo App</h1>
<p>Welcome to the MX Rails demo</p>

<button id="sign-up">Sign Up</button>
<button id="log-in">Log In</button>

<script>
    document.getElementById('sign-up').addEventListener('click', () => {
        console.log("Sign Up")
    })

    document.getElementById('log-in').addEventListener('click', () => {
        console.log("Log In")
    })
</script>