<h1>Demo App</h1>
<p>Welcome to the MX Rails demo</p>

<button id="log-in">Log In</button>
<a href="/users/new" id="register">Sign Up</a>

<button id="get-agg-url">Get Connect Widget</button>

<script>
    document.getElementById('register').addEventListener('click', () => {
        console.log("Sign Up")
    })

    document.getElementById('log-in').addEventListener('click', () => {
        console.log("Log In")
    })

    document.getElementById('get-agg-url').addEventListener('click', () => {
        console.log("Get agg url")
    })
</script>