/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/*
 * General App
 */
body {
  max-width: 750px;
  margin: 0 auto;
}

section {
  margin: 48px 0;
}

table td {
  padding: 4px;
}
table td + td {
  border-left: 1px solid black;
}

/*
* Styles for the HTTP Examples
*/
.http-box {
  border: 1px solid black;
  padding: 16px;
  margin-bottom: 16px;
}

.http-box-description {
  margin-top: 0px;
}

.http-box-section {
  display: flex;
  flex-direction: row;
}

.http-box-method {
  padding: 8px;
  color: white;
  background-color: black;
}

.http-box-url {
  padding: 8px;
}

.connect-widget-full {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  text-align: center;
}