/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/*
 * Colors from MX
 */
:root {
  --mx-BackgroundColor_Body: #F8F9FB;
  --mx-BackgroundColor_Container: #FFFFFF;
  --mx-BackgroundColor_ButtonPrimary: #2F73DA;
  --mx-TextColor_ButtonPrimary: #FFFFFF;
  --mx-BackgroundColor_ButtonNeutral: #FFFFFF;
  --mx-Spacing_ButtonPadding: 12px;
  --mx-BorderRadius_Button: 4px;
  --mx-FontSize_Button: 16px;
  --mx-BorderColor_ButtonNeutral: #CDD3DD;
  --mx-TextColor_ButtonNeutral: #2F73DA;
  --mx-TextColor_ButtonNeutralHover: #165ECC;
  --mx-BackgroundColor_ButtonNeutralHover: #FFFFFF;
  --mx-BorderColor_ButtonNeutralHover: #165ECC;
  --mx-FontSize_ButtonLinkLarge: 16px;
  --mx-FontSize_ButtonLinkSmall: 14px;
  --mx-TextColor_ButtonLink: #2F73DA;
  --mx-TextColor_ButtonLinkDestructive: #DF320C;
  --mx-Spacing_Tiny: 4px;
  --mx-Spacing_XSmall: 8px;
  --mx-Spacing_Medium: 16px;
  --mx-Spacing_XXXLarge: 48px;
}

/*
 * General App
 */
body {
  max-width: 750px;
  margin: 0 auto;
  font-family: ProximaNovaSemibold, Helvetica, Arial, sans-serif;
  padding: 24px;
}

section {
  margin: var(--mx-Spacing_XXXLarge) 0;
}

/* Primary button styles */
input[type="submit"] {
  color: var(--mx-TextColor_ButtonPrimary);
  border: none;
  background-color: var(--mx-BackgroundColor_ButtonPrimary);
  padding: var(--mx-Spacing_ButtonPadding);
  border-radius: var(--mx-BorderRadius_Button);
  font-size: var(--mx-FontSize_Button)
}

/* Neutral button styles */
button {
  background-color: var(--mx-BackgroundColor_ButtonNeutral);
  border: 1px solid;
  border-color: var(--mx-BorderColor_ButtonNeutral);
  color: var(--mx-TextColor_ButtonNeutral);
  padding: var(--mx-Spacing_ButtonPadding);
  border-radius: var(--mx-BorderRadius_Button);
  font-size: var(--mx-FontSize_Button)
}

button:hover {
  background-color: var(--mx-BackgroundColor_ButtonNeutralHover);
  border-color: var(--mx-BorderColor_ButtonNeutralHover);
  color: var(--mx-TextColor_ButtonNeutralHover);
  cursor: pointer;
}

a {
  color: var(--mx-TextColor_ButtonLink);
  font-size: var(--mx-FontSize_ButtonLinkLarge)
}

.link-destructive {
  color: var(--mx-TextColor_ButtonLinkDestructive);
}

table td {
  padding: var(--mx-Spacing_Tiny);
}
table td + td {
  border-left: 1px solid black;
}
#users-table > a {
  display: inline-block;
  margin-bottom: var(--mx-Spacing_Medium)
}

form > .form-input {
  margin-bottom: var(--mx-Spacing_XSmall)
}

/*
* Styles for the HTTP Examples
*/
.http-box {
  border: 1px solid black;
  padding: var(--mx-Spacing_Medium);
  margin-bottom: var(--mx-Spacing_Medium);
}

.http-box > .http-box-section {
  margin-bottom: var(--mx-Spacing_Medium)
}

.http-box-description {
  margin-top: 0px;
}

.http-box-section {
  display: flex;
  flex-direction: row;
}

.http-box-method {
  padding: var(--mx-Spacing_XSmall);
  color: white;
  background-color: black;
}

.http-box-url {
  padding: var(--mx-Spacing_XSmall);
  word-break: break-all;
}

/**
* Styles for the widget and its instructions
*/
.connect-widget-full {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--mx-BackgroundColor_Container);
  text-align: center;
  overflow: auto;
}

.instructions {
 padding: 0px var(--mx-Spacing_Medium) var(--mx-Spacing_Medium) var(--mx-Spacing_Medium);
 background-color: var(--mx-BackgroundColor_Body);
}

.instructions h2 {
  display: inline-block;
}

.instructions ol {
  display: inline-block;
  padding: 0;
  text-align: left;
}

.instructions ol li {
  list-style-position: inside;
}